#python
__pycache__/
*.pyc
#Django
db.sqlite3
.dev.env
.prov.env
config/local_settings.py
# ログファイル
*.log
# IDEやエディタの設定ファイル
.vscode/
.idea/
# システムファイル
*.DS_Store
*.Thumbs.db
# メディアファイル（ユーザーがアップロードしたファイル）
media/
